footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(189, 187, 187);
    padding: 7vh;
}
.logo-footer{
    height: 20px;
    width: 20px;
    padding-bottom: 10vh;
}
.menu-footer{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: 10vh;
}
.menu-footer li{
    margin: 1vw;
}
.réseaux-footer{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.réseaux-footer li{
    margin: 1vw;
}