.sect4{
    padding: 10vh;
}
.para-sect4{
    text-align: center;
}
.img-sect4{
    display: flex;
    justify-content: center;
    padding: 10vh;
}
@media only screen and (max-width:376px ){
    .sect4{
        padding: 0;
    }
    .para-sect4{
        text-align: center;
    }
    .img-sect4{
       padding: 0;
       padding-top: 2vh;
       padding-bottom: 2vh;
    }
    .img{
        width: 50%;
    }
}