.sect5{
    padding: 10vh;
}
.para-sect5{
    text-align: center;
}
h3{
    color: rgb(198, 196, 196);
}
h5{
    color: rgb(198, 196, 196);
}
.cards-sect5{
    display: flex;
    justify-content: space-around;
    padding: 15vh;
}
.cards{
    text-align: center;
    margin: 3vh;
    width: 50vh;
}