.sect3{
padding: 10vh;
}
.para-sect3{
    text-align: center;
    padding: 10vh;
}
h4{
    color: rgb(186, 185, 185);
}
.mini-para-sect3{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.mini-para{
    padding: 3vh;
}